/* line 3, sass/default.scss */
body {
  font-family: "Ubuntu", sans-serif;
}

/* line 7, sass/default.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 13, sass/default.scss */
a, a:hover {
  text-decoration: none;
}

/* line 17, sass/default.scss */
.custom-title {
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* line 22, sass/default.scss */
.hidden {
  opacity: 0;
}

/* line 25, sass/default.scss */
.visible {
  opacity: 1;
}

/* HEADER */
/* line 30, sass/default.scss */
#header {
  position: fixed;
  width: 100%;
  line-height: 50px;
  z-index: 9;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 38, sass/default.scss */
#header a, #header span {
  font-size: 14px;
  font-weight: 400;
}
/* line 44, sass/default.scss */
#header .col-logo img {
  width: 32px;
  filter: invert(0);
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 52, sass/default.scss */
#header ul li {
  display: inline-block;
}
/* line 54, sass/default.scss */
#header ul li a {
  color: #333333;
  padding: 0px 5px;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 58, sass/default.scss */
#header ul li a.active {
  color: #333333;
  text-shadow: 1px 1px #000000;
}
/* line 66, sass/default.scss */
#header .col-menu {
  text-align: center;
}
/* line 69, sass/default.scss */
#header .col-social-links {
  text-align: right;
}
/* line 73, sass/default.scss */
#header.on-scroll {
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 76, sass/default.scss */
#header.on-scroll .col-logo img {
  filter: invert(1);
}
/* line 82, sass/default.scss */
#header.on-scroll ul li a {
  color: #FFFFFF;
}
/* line 84, sass/default.scss */
#header.on-scroll ul li a.active {
  color: #c3c3c3;
  text-shadow: none;
}
@media (max-width: 767px) {
  /* line 94, sass/default.scss */
  #header .col-logo {
    text-align: center;
  }
}

/* line 101, sass/default.scss */
.btn-toggle-menu {
  border-radius: 0;
  background-color: #333333;
  height: 35px;
  width: 35px;
  position: relative;
  padding: 0;
}
/* line 108, sass/default.scss */
.btn-toggle-menu .bar {
  position: absolute;
  height: 1px;
  width: 20px;
  background-color: #FFFFFF;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 116, sass/default.scss */
.btn-toggle-menu .bar:nth-child(1) {
  margin-top: -5px;
}
/* line 119, sass/default.scss */
.btn-toggle-menu .bar:nth-child(2) {
  margin-top: 0;
}
/* line 122, sass/default.scss */
.btn-toggle-menu .bar:nth-child(3) {
  margin-top: 5px;
}

/* MOBILE MENU */
@media (max-width: 767px) {
  /* line 131, sass/default.scss */
  #navbar-section {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  /* line 141, sass/default.scss */
  #navbar-section.active {
    left: 0;
    opacity: 1;
  }
  /* line 145, sass/default.scss */
  #navbar-section .nav-link {
    display: inline-block;
    color: #FFFFFF;
  }
  /* line 149, sass/default.scss */
  #navbar-section .category-header {
    position: relative;
    border-bottom: 1px solid #000;
    height: 50px;
  }
  /* line 153, sass/default.scss */
  #navbar-section .category-header h5 {
    display: inline-block;
    margin: 0;
    padding: 10px;
    color: #FFFFFF;
  }
  /* line 159, sass/default.scss */
  #navbar-section .category-header .btn-toggle-menu {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    color: #FFFFFF;
    font-size: 25px;
    font-family: 'Arial';
    background: transparent;
  }
}
/* FULL BANNER */
/* line 177, sass/default.scss */
#full-banner #particles-js {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  background: linear-gradient(306deg, #ffffff, #c0c0c0, #d3d3d3, #000000);
  background-size: 800% 800%;
  -webkit-animation: background-gradient 10s ease infinite;
  -moz-animation: background-gradient 10s ease infinite;
  animation: background-gradient 10s ease infinite;
}
/* line 187, sass/default.scss */
#full-banner .title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  color: #333333;
  font-size: 50px;
  text-transform: uppercase;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 197, sass/default.scss */
#full-banner .title img {
  display: block;
  width: 170px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 205, sass/default.scss */
#full-banner .title .facebook-like {
  margin-top: 10px;
}
/* line 207, sass/default.scss */
#full-banner .title .facebook-like iframe {
  display: inline-block;
  width: 90px;
}
@media (max-width: 767px) {
  /* line 187, sass/default.scss */
  #full-banner .title {
    width: 100%;
  }
}

@media (min-width: 768px) {
  /* line 219, sass/default.scss */
  #section-container > div {
    margin-bottom: 150px;
  }
}
@media (max-width: 767px) {
  /* line 219, sass/default.scss */
  #section-container > div {
    margin-bottom: 50px;
  }
}

/* ABOUT */
@media (min-width: 768px) {
  /* line 234, sass/default.scss */
  #about .about-message p {
    width: 50%;
    margin: 0 auto;
  }
}

/* line 241, sass/default.scss */
.dev-type {
  overflow: hidden;
  position: relative;
  height: 300px;
  margin-bottom: 15px;
}
/* line 246, sass/default.scss */
.dev-type a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 254, sass/default.scss */
.dev-type img {
  height: 100%;
}
/* line 257, sass/default.scss */
.dev-type .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/* line 262, sass/default.scss */
.dev-type .title h5 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}
/* line 268, sass/default.scss */
.dev-type .title p {
  color: #FFFFFF;
  font-size: 12px;
  opacity: 0;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 276, sass/default.scss */
.dev-type:hover a, .dev-type.active a {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 278, sass/default.scss */
.dev-type:hover a p, .dev-type.active a p {
  opacity: 1;
}
@media (max-width: 767px) {
  /* line 241, sass/default.scss */
  .dev-type {
    height: auto;
  }
  /* line 286, sass/default.scss */
  .dev-type img {
    max-width: 100%;
    height: auto;
  }
  /* line 290, sass/default.scss */
  .dev-type .title p {
    display: none;
  }
}

/* SKILLS */
/* line 299, sass/default.scss */
#skills .custom-title {
  text-align: center;
}
/* line 302, sass/default.scss */
#skills .skills-container {
  margin: 0 auto;
  padding: 50px;
  background: linear-gradient(306deg, #000000, #3e3e3e, #1c2733, #5c82ad);
  background-size: 800% 800%;
  -webkit-animation: background-gradient 10s ease infinite;
  -moz-animation: background-gradient 10s ease infinite;
  animation: background-gradient 10s ease infinite;
}
/* line 311, sass/default.scss */
#skills .sections {
  max-height: 350px;
  overflow: auto;
}
@media (max-width: 767px) {
  /* line 311, sass/default.scss */
  #skills .sections {
    margin-bottom: 20px;
    border-bottom: 1px solid #464646;
    padding-bottom: 20px;
  }
}
/* line 320, sass/default.scss */
#skills .section {
  margin-bottom: 20px;
}
/* line 322, sass/default.scss */
#skills .section h5 {
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
}
/* line 327, sass/default.scss */
#skills .section ul {
  padding: 0 20px;
}
/* line 329, sass/default.scss */
#skills .section ul li {
  color: #FFFFFF;
}
/* line 336, sass/default.scss */
#skills .sections::-webkit-scrollbar-track, #skills .other-skills::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}
/* line 341, sass/default.scss */
#skills .sections::-webkit-scrollbar, #skills .other-skills::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
/* line 346, sass/default.scss */
#skills .sections::-webkit-scrollbar-thumb, #skills .other-skills::-webkit-scrollbar-thumb {
  background-color: #000000;
}
/* line 351, sass/default.scss */
#skills .other-skills {
  max-height: 350px;
  overflow: auto;
}
/* line 354, sass/default.scss */
#skills .other-skills ul {
  text-align: center;
}
/* line 356, sass/default.scss */
#skills .other-skills ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  text-align: center;
  width: 120px;
  height: 120px;
  position: relative;
}
/* line 368, sass/default.scss */
#skills .other-skills ul li img {
  max-height: 100px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
/* line 376, sass/default.scss */
#skills .other-skills ul li a {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 381, sass/default.scss */
#skills .other-skills ul li a span {
  position: absolute;
  top: 50%;
  font-size: 12px;
  color: #FFFFFF;
  white-space: normal;
  word-wrap: break-word;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  word-break: break-word;
  opacity: 0;
  font-weight: 600;
}
/* line 396, sass/default.scss */
#skills .other-skills ul li:hover, #skills .other-skills ul li.no-image {
  background-color: #000000;
}
/* line 398, sass/default.scss */
#skills .other-skills ul li:hover img, #skills .other-skills ul li.no-image img {
  opacity: 0.5;
}
/* line 402, sass/default.scss */
#skills .other-skills ul li:hover a span, #skills .other-skills ul li.no-image a span {
  opacity: 1;
}
@media (max-width: 767px) {
  /* line 414, sass/default.scss */
  #skills .skills-container {
    padding: 25px;
  }
  /* line 417, sass/default.scss */
  #skills .other-skills ul li {
    width: 65px;
    height: 65px;
  }
  /* line 420, sass/default.scss */
  #skills .other-skills ul li img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: auto;
  }
  /* line 427, sass/default.scss */
  #skills .other-skills ul li a span {
    font-size: 9px;
  }
}

@-webkit-keyframes background-gradient {
  /* line 437, sass/default.scss */
  0% {
    background-position: 0% 50%;
  }

  /* line 438, sass/default.scss */
  50% {
    background-position: 100% 50%;
  }

  /* line 439, sass/default.scss */
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes background-gradient {
  /* line 437, sass/default.scss */
  0% {
    background-position: 0% 50%;
  }

  /* line 438, sass/default.scss */
  50% {
    background-position: 100% 50%;
  }

  /* line 439, sass/default.scss */
  100% {
    background-position: 0% 50%;
  }
}

@keyframes background-gradient {
  /* line 437, sass/default.scss */
  0% {
    background-position: 0% 50%;
  }

  /* line 438, sass/default.scss */
  50% {
    background-position: 100% 50%;
  }

  /* line 439, sass/default.scss */
  100% {
    background-position: 0% 50%;
  }
}

/* CARDS */
/* line 446, sass/default.scss */
.card-columns .card img {
  max-width: 80px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* line 453, sass/default.scss */
.card-columns .card .card-title a {
  color: #333333;
}

/* line 459, sass/default.scss */
.card.development {
  filter: blur(2px);
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 462, sass/default.scss */
.card.development:hover {
  filter: blur(0px);
}

/* line 467, sass/default.scss */
.card > .badge {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 473, sass/default.scss */
.footer-item {
  text-align: center;
  vertical-align: middle;
}

/* COPYRIGHT */
/* line 479, sass/default.scss */
.copyright {
  margin-bottom: 0;
  bottom: 0;
  background-color: #f3f3f3;
  text-align: center;
  padding: 20px;
}
/* line 485, sass/default.scss */
.copyright p {
  color: #a0a0a0;
  font-size: 12px;
  margin-bottom: 0;
}

/* line 493, sass/default.scss */
.dev-type-modal .modal-header {
  border-bottom-color: transparent;
}
/* line 497, sass/default.scss */
.dev-type-modal .modal-content {
  background-image: url("../../resources/img/octopus.gif");
  background-position: center bottom;
  padding: 50px;
}

/* Article */
/* line 505, sass/default.scss */
#articles .card-columns .card img {
  max-width: 100%;
  margin-top: 0;
}

/* line 512, sass/default.scss */
.card-columns {
  position: relative;
}

/* line 515, sass/default.scss */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  z-index: 9;
  border-radius: 100%;
}
/* line 522, sass/default.scss */
.loader i {
  font-size: 50px;
  color: #0796ff;
}
